<!DOCTYPE html>
<html>
<head>
  <title>Software Incubator Management System</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="\stylesheet" >
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

  <div id='header'>
    <header>
      <div class="title">
        Software Incubator Management System
      </div>
      <div class="user_status">


      </div>
    </header>
  </div>

{% block content %}
{% endblock %}

<div id='footer'>
  <footer>
  </footer>
</div>
